.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-title {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin: 60px 0 30px;
    text-transform: uppercase;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
}

.image-box {
    background-color: #F0EEED;
    border-radius: 20px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.image-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    cursor: pointer;
    transition: 0.4s ease;
}
.image-box img:hover{
    transform: scale(1.07);
}

.product-title {
    font-size: 16px;
    font-weight: 700;
    margin: 15px 0 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.rating-stars {
    color: #FFC107;
    font-weight: 600;
    margin-bottom: 10px;
}

.price-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.new-price { font-size: 22px; font-weight: 700; }
.old-price { color: #999; text-decoration: line-through; font-size: 18px; }
.discount-tag { 
    background: rgba(255, 51, 51, 0.1); 
    color: #FF3333; 
    padding: 2px 10px; 
    border-radius: 20px; 
    font-size: 14px;
}


@media (max-width: 1024px) { .products-grid { grid-template-columns: repeat(2, 1fr); } }
@media (max-width: 600px) { .products-grid { grid-template-columns: 1fr; } }