.brands{
    background-color: black;
     padding: 35px 0;
}
.brands-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.brands img {
  height: 28px;
  filter: brightness(0) invert(1);
  opacity: 0.9;
}