.contact {
  padding: 0 20px;
  position: relative;
  z-index: 10;

}

.contact-container {
  background-color: #000;
  border-radius: 20px;
  padding: 36px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.contact-title {
  color: #fff;
  font-family: 'Integral CF', sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.1;
  margin: 0;
  flex: 1;
  min-width: 300px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 350px;
}

.input-wrapper {
  position: relative;
  background-color: #fff;
  border-radius: 62px;
  display: flex;
  align-items: center;
  padding: 12px 16px;
}

.email-icon {
  margin-right: 12px;
  opacity: 0.4;
}

.input-wrapper input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
}

.subscribe-btn {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 12px;
  border-radius: 62px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.subscribe-btn:hover {
  background-color: #e0e0e0;
}

/* Telefonlar uchun (Responsive) */
@media (max-width: 768px) {
  .contact-container {
    padding: 32px 24px;
    flex-direction: column;
    text-align: center;
  }

  .contact-title {
    font-size: 32px;
    min-width: unset;
  }

  .contact-form {
    width: 100%;
  }
}