*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Satoshi', sans-serif;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
    .navbar-search {
        width: 250px;
    }

    .header-text {
        font-size: 45px;
    }

    .header-img {
        max-width: 400px;
    }

    .products-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 768px) {
    /* Navbar */
    .navbar-list {
        display: none;
    }

    .navbar-search {
        display: none; 
    }

    /* Header (Hero) */
    .header-container {
        flex-direction: column;
        text-align: center;
    }

    .header-text {
        font-size: 38px;
    }

    .header-cards {
        justify-content: center;
        gap: 20px;
    }

    .header-img {
        max-width: 100%;
        margin-top: 40px;
    }

    .cart-content, .pd-main-content {
        flex-direction: column;
    }

    .order-summary, .pd-info-section {
        width: 100%;
        margin-top: 30px;
    }

    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 15px 0;
    }

    .logo {
        font-size: 22px;
    }


    .header {
        padding: 40px 0;
    }

    .header-text {
        font-size: 32px;
    }

    .header-btn {
        width: 100%;
        padding: 15px 0;
    }

    .header-cards {
        flex-wrap: wrap;
        justify-content: center;
    }

    .header-card {
        flex: 1 1 40%; 
    }

    .products-grid {
        grid-template-columns: 1fr;
    }

    .image-box, .pd-image-section {
        height: 250px;
    }

    .cart-item {
        flex-direction: column;
        gap: 15px;
    }

    .item-img-box {
        width: 100%;
        height: 150px;
    }

    .item-actions {
        width: 100%;
        flex-direction: row !important;
        justify-content: space-between;
    }


    .promo-code {
        flex-direction: column;
    }

    .promo-code input, .promo-code button {
        width: 100%;
        border-radius: 25px;
    }
}
html, body{
    scroll-behavior: smooth;
}
button:hover{
transform: scale(1.1);
}
button{
transition: 0.3s ease;
}